/* search */
.searchBtn button {
    width: 130px;
    height: 35px;
    border: 0px;
    background-color: #5EDCB3;
    border-radius: 15px;
    color: white;
}

.searchTop {
    display: table-cell;
    vertical-align: middle;
}