
.searchBtn button {
    width: 130px;
    height: 35px;
    border: none;
    background-color: #5EDCB3;
    border-radius: 15px;
    color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
}

.searchBtn button:hover {
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}


.boxStyle { 
    padding: 20px 10px 20px 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #d8d8d8;
}

.searchBox {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 모달창 */
.myModal {
    opacity: 0.5 !important;
}

/* 나의 근태 이력 */
.documentsSubmit {
    background-color: white;
    border: 1px solid #5e97dc;
    border-radius: 5px;
    width: 60%;
    height: 35px;
    color: #5e97dc;
}
