
/* 연차 이력 박스 */
.annualMainBox{
    width: 50%;
}

.annualMainBoxTitle {
    border-bottom: 1px solid #dddddd;
}

.annualMainBox p {
    font-size: 20px;
    text-align: center;
}

.annualSelectBox {
    margin: 1% 0px 1% 0px;
}

.annualSelectBox select {
    width: 150px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 1px solid #b5b5b5;
}