
.infoBtn {
    text-align: right;
}

.infoBtn button {
    width: 130px;
    height: 35px;
    border: 0px;
    background-color: #5EDCB3;
    border-radius: 15px;
    color: white;
}

.table {
    font-size: 25px;
    margin: 200px 0px 0px 0px;
}

table {
    margin: 100px 0px 100px 0px;
}

/* info list */
.mainRow {
    margin: 100px 20% 200px 20%;
}

.mainRow p {
    margin: 15px 3% 15px 3%;
}

.mainRow input {
    margin: 15px 3% 15px 3%;
    width: 50%;
    height: 30%;
    border: 1px solid #8a8a8a;
    border-radius: 15px;
}

.infoHead {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
}

.myInfo {
    font-size: 20px;
    border-bottom: solid 1px black;
    color: rgb(118, 118, 118);
    letter-spacing: 3px;
}

.mainBtn {
    text-align: center;
    margin-top: 10%;
}

.mainBtn button {
    border: 0px;
    background-color: #5EDCB3;
    color: white;
    border-radius: 15px;
    width: 20%;
    height: 130%;
    margin: 0px 5px 0px 5px;
}
