
/* attendance box */
.attendanceCheckMainBox1{
    width: 35%;
}

.attendanceCheckMainBox2{
    width: 60%;
}

.attendanceCheckBox{
    padding-top: 15px;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
    height: 130px;
}

.workBtn {
    width: 100px;
    height: 25px;
    margin: 10px;
    color: #43B2CA;
    font-size: 13px;
    font-weight: bold        ;
    border: 1px solid #43B2CA;
    background-color: white;
    border-radius: 25px;
}

.weekSumTable {
    display: inline-block;
}
