
/* 연차 이력 박스 */
.annualMainBox{
    align-items: center;
    height: 13%;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
}

.annualMainBox p {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
}
