
main {
    margin-top: 100px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
}

/* search */
.search-btn button {
    width: 130px;
    height: 35px;
    border: 0px;
    background-color: #5EDCB3;
    border-radius: 15px;
    color: white;
}

.search-top {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

/* year */
.calender-header{
    width: 100%;
}

.arrow-prev,
.arrow-next {
    position: relative;
    float:left;
    width:30px;
    height:30px;
    margin-right:5px;
}

.arrow-prev::after {
    position: absolute;
    left: 35px; 
    top: 20px;
    content: '';
    width: 15px; /* 사이즈 */
    height: 15px; /* 사이즈 */
    border-top: 5px solid #000; /* 선 두께 */
    border-right: 5px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
}

.arrow-next::after {
    position: absolute;
    left: 10px; 
    top: 20px; 
    content: '';
    width: 15px; /* 사이즈 */
    height: 15px; /* 사이즈 */
    border-top: 5px solid #000; /* 선 두께 */
    border-right: 5px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

/* table */
