
.managementInput {
    float: right;
    width: 85%;
}

.infoModule {
    margin: 4% 10% 4% 5%;
    font-size: 20px;
}

.datePicker {
    float: right;
    width: 85%;
}

.radioBtn {
    margin-left: 6%;
}