/* 상단 마진 */
main {
    margin-top: 90px;
}

.title{
    position: absolute;
    left: 150px;
    bottom: 900px;
}

.main {
    display: flex;
    position: relative;
    justify-content: space-around;
    bottom: 50px;
}

/* 큰박스 */
.module{
    width: 70%;
    height: 700px;
    margin: 10px 100px 10px 10px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}
/* 작은박스 */
.module2{
    width: 14%;
    height: 700px;
    position:absolute;
    border-right: 1px solid #aaaaaa;
    border-radius: 10px;
    
}

/* 메세지쓰기 버튼 */
.infoUpdate button {
    background-color: #43B2CA;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin-left: 22%;

    text-decoration: none;

}

/* 보내기 버튼 */
.infoUpdate2 button {
    background-color: #43B2CA;
    width: 10%;
    height: 5%;
    /*border-radius: px;*/
    border: 0px;
    color: white;
    /* float: left;
    margin-left: 350;
    margin-top: 20; */
}



.module-title{
    padding: 10px 0px 20px 20px;
    font-size: 20px;
    font-weight: bolder;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}



/* 메세지 쓰기란 전체 정렬 */

.messageBlank{

    margin-top:  50px ;
    margin-left: 350px;

}

.messageBlank input{

    width: 75%;

}

/* 파일업로드 */
.fileUpload input{

    width: 75%;
    height: 70px;
}

/* 내용작성란 */
.writePlace input{

    width: 83%;
    height: 300px;

}

/* 글자 색 */
.workDay {
    color: #43B2CA;

}

/* 주소록 버튼 */
.messageBlank button{
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    margin-left: 5px;
}

Link {
 color: black;
}